<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.step"
    >

    <application >
        <activity android:name=".Ui.HistoryActivity">

        </activity>
        <activity android:name=".Ui.IntegralActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <service android:name="com.example.framework.service.StepService"
            >
        </service>

        <service android:name="com.example.framework.service.StepJobService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            >
        </service>

        <service android:name="com.example.framework.service.StepRemoteService"
            android:exported="true"
            android:enabled="true"
            android:process="remote.service.two"
            ></service>
        <service android:name="com.example.framework.service.StepLocalService"
            android:exported="true"
            android:enabled="true"
            >

        </service>
    </application>


</manifest>