<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remindsteporgan">

    <application>
        <activity android:name=".RemindActivity">

        </activity>
        <service android:name=".Util.LiveService"
            android:process=":live_service"/>
    </application>

</manifest>