<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.remindsteporgan">

    <application>
        <activity android:name=".RemindActivity" />

        <service
            android:name=".Util.LiveService"
            android:process=":live_service"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".HistoryActivity" />
    </application>

</manifest>