<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.point">
    <!-- 计歩需要的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" /> <!-- 以上是计歩需要的权限 -->

    <application>
        <activity
            android:name=".activity.PhysicalActivity"

            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.HistoryActivity"
            android:launchMode="singleTop" >
        </activity>

        <service android:name=".service.RemoterSerive"></service>
        <service android:name=".service.StepService"
            >
            <intent-filter>
                <!-- 系统启动完成后会调用-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.StepActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.IntegralActivity"
            android:launchMode="singleTop" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".activity.PresentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".message.MessageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".message.MessageItemActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ConversionActivity"
            android:launchMode="singleTop" />
    </application>


</manifest>
