<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaomall.framework" >
    <!-- 联网的权限: -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 写SD卡权限: -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读SD卡权限: -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取联系人的权限： -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
