<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.framework">




    <application>
        <service android:name="com.example.framework.service.StepRemoteService"
            android:exported="true"
            android:enabled="true"
            android:process="remote.service.two"
            >



        </service>
        <service android:name="com.example.framework.service.StepLocalService"
            android:exported="true"
            android:enabled="true"
            >


        </service>
    </application>



</manifest>
